body {
  font-family: "Lato", sans-serif;
  height: 100vh;
}

#navigation {
  display: flex;
  background-color: #29353C;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-family: "Boldonse", system-ui;
}

.custom-nav-link {
  color: #e6e6e6 !important;
  font-size: 20px;
}




#about {
  width: 400px;
}

#main-container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

#portrait {
  width: 400px;
  border-radius: 40px;
}


